@keyframes heartbeat {
    from {transform: scale(1)}
    50% {transform: scale(1.4)}
    to {transform: scale(1)}
}
@keyframes lineFadeOnRight {
    0% {width: 0;}
    100% {width: 99%;}
}
@keyframes circleWayOnRight {
    0% {left: 0%;}
    100% {left: 100%;}
}
@keyframes circleWayOnLeft {
    0% {left: 100%;}
    100% {left: 0%;}
}
@keyframes fadeOnLeft {
    0% {width: 100%;}
    100% {width: 0%;}
}
@keyframes headerLogo {
    0% {right: 800px;}
    0% {transform: skewX(80deg);}
    50% {transform: skewX(0deg);}
    50% {right: 0px}
    50% {transform: rotateX(0deg);}
    80% {transform: rotateX(360deg);}
    100% {transform: scale(1.2);}
}